
@platesize:350px; // sets width and height
@pitwidth:32px; // the width of each pit. 32 seems to work best
@rotate:(360/@to)+0deg; // how far to rotate each slice depends on how many slices you have

@rimsize:6px; // size of the bevelled rim edge
@trim:gold; // or hex value
@trimSecondary:silver; // or hex value
@spinButton:green; // or hex value
@resetButton:darkgreen; // or hex value

@spins:8; // the number of laps the ball spins before resting

@from: 1; 
@to: 37; // number of slices (36 numbers plus zero)
.loop(@index) when(@index < @to) {
  .number:nth-child(@{index}) {
   transform:rotateZ(@rotate*@index);
  }
  .loop(@index + 1);
}
.loop(@from);
